/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }

 body {
   background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
   font-family: "thrones";
 }

 h1 {
   text-align: center;
 }

 .flash {
  border: 1px solid black;
  padding: 1em;
  background: #eee;
}

.alert  { color: red;  }
.notice { color: blue; }

 .titles {
   margin: auto;
   width: 50%;
   text-align: center;
 }

 a {
   text-decoration: none;
   color: black
 }

 a:hover {
   color: red;
 }

 .houses {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .house {
   width: 200px;
 }

 .house-show {
   width: 100%;
   margin: 0 auto;
 }

 .house-show h2 {
   text-align: center;
 }

 .house-show-img {
   display: block;
   margin: 0 auto;
   width: 300px;
 }

 .house-characters {
   width: 100px;
 }

 .character-index {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .character-info {
   text-align: center;
   margin: 5px;
   border: 1px solid black;
   background: #ddd;
   width: 300px;
   background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
 }
